<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <h3>Delete Account</h3>

      <p>Are you sure you would like to delete your account?</p>
      <p>This will delete your account and all permissions to any devices.</p>
      <p>This is irreversable and your account will be unrecoverable afterwards.</p>

      <form class="register-form" action="{{user_delete_account_path}}" method="POST">

        <div class="form-group">
            <button class='btn red'>Delete Account</button>
            <a class='btn green' href="{{default_user_redirect}}">Cancel</a>
        </div>

      </form>
  </div>
  <div class="col-md-4"></div>
</div>