<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <h3>Password Reset</h3>

      <p>Your password was reset.</p>

      <p>You will receive an email with instructions to establish a new password.</p>

      <a class='btn green' href="{{user_login_path}}">Sign in</a>
  </div>
  <div class="col-md-4"></div>
</div>